<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="fragments/link_fragment :: link_fragment"/>
    <title>List-products</title>
</head>
<body>

<th:block th:replace="fragments/navbar_fragment :: navbar_fragment" />

<div class="container-fluid">

    <a th:href="@{/admin/addProduct}" style="margin: 20px 0"
       class="btn btn-primary">Добавить продукт</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Категория</th>
            <th scope="col">Продукт</th>
            <th scope="col">Фото</th>
            <th scope="col">Цена</th>
            <th scope="col">Статус</th>
            <th scope="col">Комментария</th>
            <th scope="col">Удалить</th>
            <th scope="col">Редактировать</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.categoryId.name}"></td>
            <td th:text="${product.name}"></td>
            <td>
                <img th:src="@{${product.photosImagePath}}" height="100px" />
            </td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.status.name}"></td>
            <td th:text="${product.description}"></td>

            <td><a href="" th:href="@{/admin/deleteProduct/{id}(id=${product.id})}" class="btn btn-danger">Удалить</a></td>
            <td><a href="" th:href="@{/admin/editProduct/{id}(id=${product.id})}" class="btn btn-warning">Редактировать</a></td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="fragments/script_fragment :: script_fragment" />
</body>
</html>