<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="fragments/link_fragment :: link_fragment"/>
    <title>List-products</title>
</head>
<body>

<th:block th:replace="fragments/navbar_fragment :: navbar_fragment" />

<div class="container-fluid">

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Почта</th>
            <th scope="col">Роль</th>
            <th scope="col">Статус</th>
            <th scope="col">Бан</th>
            <th scope="col">Удалить</th>
            <th scope="col">Редактировать</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role.displayName}"></td>
            <td th:text="${user.status.name}"></td>
            <!--<td>
                <p th:if="${user.active == true}">true</p>
                <p th:if="${user.active == false}">false</p>
            </td>-->
            <td>
                <form th:action="@{/admin/ban/{id}(id=${user.id})}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <label for="user-status"></label>
                    <select id="user-status" class="btn btn-danger" type="submit">
                        <option th:each="s : ${userStatus}"
                                th:value="${s.id}"
                                th:text="${s.name}">
                        </option>
                    </select>
                </form>
            </td>

            <td><a href="" th:href="@{/admin/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Удалить</a></td>
            <td><a href="" th:href="@{/admin/editUser/{id}(id=${user.id})}" class="btn btn-warning">Редактировать</a></td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="fragments/script_fragment :: script_fragment" />
</body>
</html>